<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Documenter' -%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='bg-white'>
      <% if content_for?(:navbar) %>
        <%= yield(:navbar) %>
      <% else %>
        <%= render 'layouts/nav'%>
      <% end %>
    </header>

    <%= render 'layouts/messages'%>

    <main>
      <%= yield %>
    </main>

    <% if content_for?(:footer) %>
      <%= yield(:footer) %>
    <% else %>
      <%= render 'layouts/footer'%>
    <% end %>
  </body>

</html>
